@model MvcStok.Models.Entity.TblUrunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Ekleme</h2>

<form method="post">
    <label>Urun Adı</label>
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    <label>Marka</label>
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })
    <br />
    <label>Stok </label>
    @Html.TextBoxFor(x => x.stok, new { @class = "form-control" })
    <br />
    <label>Alış Fiyatı </label>
    @Html.TextBoxFor(x => x.alisfiyat, new { @class = "form-control" })
    <br />
    <label>Satış Fiyatı </label>
    @Html.TextBoxFor(x => x.satisfiyat, new { @class = "form-control" })
    <br />
    <label>Kategori </label>
    @Html.DropDownListFor(x => x.TblKategori.id,(List<SelectListItem>)ViewBag.drop, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>